<app-navbar-style-three></app-navbar-style-three>

<div class="sign-in-area pt-120 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="sp-before sp-after">Sign Up</span>
            <h2 class="h2-color">Create an Account!</h2>
        </div>

        <div class="row align-items-center pt-45">
            <div class="col-lg-5 col-md-12">
                <div class="user-all-img">
                    <img src="assets/img/faq-img.png" alt="Images">
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="user-all-form">
                    <div class="contact-form">
                        <form id="contactForm">
                            <div class="form-group">
                                <i class='bx bx-user'></i>
                                <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your Username" placeholder="Username">
                            </div>

                            <div class="form-group">
                                <i class='bx bx-mail-send'></i>
                                <input type="email" name="email" id="email" class="form-control" required data-error="Please enter email" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <i class='bx bx-lock-alt'></i>
                                <input class="form-control" type="password" name="password" placeholder="Password">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="default-btn">Sign Up <i class='bx bx-plus'></i></button>
                            </div>
                            
                            <p class="account-desc">Already have an account? <a routerLink="/sign-in">Sign In</a></p>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<app-footer-style-two></app-footer-style-two>