@import "./core/less/variables.less";

.ant-layout-header {
	background-color: #333;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (min-width: 768px) {
		justify-content: space-between;
	}
}

.btn-menu {
	@media (min-width: 768px) {
		display: none;
	}
}

.logo {
	display: flex;

	img {
		height: 64px;
	}
}


.status {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	margin-right: 24px;

	.user {
		background-color: #fff;
		box-shadow: 0 4px 16px rgba(@black, 0.1);
		border-radius: 120px;
		padding: 4px;
		line-height: 1;

		@media (max-width: 767px) {
			display: none;
		}

		a {
			margin: 0 10px 0 5px;
			color: #333;

			.name-full {

				// hide above max width
				@media (max-width: 768px) {
					display: none;
				}
			}

			.name-first {

				// hide below min-width
				@media (min-width: 767px) {
					display: none;
				}
			}

			i {
				margin-left: 10px;
				vertical-align: middle;
			}
		}
	}
}

.content-layout {
	position: relative;
	flex-direction: row;

	.scr-sider {
		min-height: calc(100vh - 64px);

		@media (max-width: 767px) {
			display: none;
		}
	}

	&.sider-layout-logged-in {
		min-height: calc(100vh - 64px);


		.ant-layout.inner-layout {
			padding: 12px;
		}
	}

	.scr-drawer {
		@media (min-width: 768px) {
			display: none;
		}
	}
}

.ant-layout-sider-collapsed {
	::ng-deep .ant-menu-item {
		text-align: center;
		padding: 0 !important;
		justify-content: center;
	}
}

::ng-deep .ant-menu-item {
	font-family: 'Fira Sans Bold';
}